<mat-spinner *ngIf="getIsLoading()" style="margin: 0 auto"></mat-spinner>

<ng-container *ngIf="!getIsLoading()">
  <app-contest-detail-no-started *ngIf="contestInfo.state === 0"></app-contest-detail-no-started>
  <app-contest-detail-no-started *ngIf="contestInfo.state === 1"></app-contest-detail-no-started>
  <app-contest-detail-in-progress *ngIf="contestInfo.state === 2"></app-contest-detail-in-progress>
  <app-contest-detail-ended *ngIf="contestInfo.state === 3"></app-contest-detail-ended>
</ng-container>
