<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="25px">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0px">
    <button mat-raised-button (click)="goBack()">返回</button>
  </div>

  <mat-tab-group>
    <mat-tab label="基本信息">
      <mat-card>
        <mat-card-content>
          <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="25px">
            <app-contest-basic-info></app-contest-basic-info>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="学生信息">
      <mat-card>
        <mat-card-content>
          <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="25px">
            <app-contest-student-create></app-contest-student-create>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="题目信息">
      <mat-card>
        <mat-card-content>
          <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="25px">
            <app-contest-problem></app-contest-problem>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
