<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
  <mat-card>
    <mat-card-header>
      <mat-card-title>题目列表</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-contest-problem-list></app-contest-problem-list>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>创建题目</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-contest-problem-create></app-contest-problem-create>
    </mat-card-content>
  </mat-card>
</div>
